@keyframes selected-item {
  0% {
    left: var(--menu-arrow-offset);
  }

  100% {
    left: calc(var(--menu-arrow-offset) + 4px);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes dawn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Heart default */

.like-icon .heart__sparks {
  fill: var(--color-icon-heart-sparks);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.like-icon .heart__contour {
  fill: var(--color-icon-heart-contour);
  transition: fill 0.1s linear;
}

.like-icon .heart__body {
  fill: transparent;
  transition: fill 0.3s 0.06s linear;
}

.like-icon .heart__core {
  fill: transparent;
  transition: fill 0.3s linear;
}

/* Hovers */

.like-icon:hover .heart__core {
  fill: var(--color-icon-heart-core-hover);
}

.like-icon:hover .heart__body {
  fill: var(--color-icon-heart-body-hover);
}

/* Heart active & clicked */

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in 2 alternate;
}

.like-icon.is-liked .heart__sparks {
  animation: dawn 0.3s 0.3s ease-in 2 alternate;
}

.like-icon:active .heart__core,
.like-icon.is-liked .heart__core,
.like-icon:active .heart__body,
.like-icon.is-liked .heart__body {
  fill: var(--color-icon-heart-body);
}

.like-icon.is-liked .heart__contour {
  fill: var(--color-icon-heart-body);
  transition: fill 0.3s 0.1s linear;
}
