.button {
  cursor: pointer;
  border: none;
  padding: var(--border-line-size);
  appearance: none;
  background-color: transparent;
  text-align: center;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--display-text-font-main, sans-serif);
  font-weight: var(--display-text-weight-base);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

.content-section {
  max-inline-size: var(--content-max-inline-size);
  margin: 0 auto;
}

.header {
  display: grid;
  place-items: center;
  margin: 100px auto;
  font-family: var(--display-text-font-accent, serif);
  border: var(--border-line-size) solid var(--color-lines);
}

.header__logo {
  margin: clamp(120px, 32%, 136px) auto var(--spacing-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.header__title {
  font-size: var(--display-text-size-4);
}

.header__description {
  font-size: var(--display-text-size-3);
}

.theme-menu__list {
  margin-block-end: var(--spacing-base);
  padding-inline-start: var(--menu-offset);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  text-transform: uppercase;
  font-size: var(--display-text-size-1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: var(--menu-arrow-offset);
  animation: selected-item 1s ease-in-out infinite alternate;
}

.content__cards {
  display: grid;
  justify-content: center;
  gap: 50px;
}

.card {
  border: var(--border-line-size) solid var(--color-lines);
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: var(--display-text-size-2);

  /* FIXME: debug only */
  margin-block-end: 100px;
}

.card__title {
  padding: 5px 10px;
  align-self: flex-start;
  font-size: inherit;
  font-variation-settings: 'wght' var(--display-text-weight-accent);
  border-block-end: var(--border-line-size) solid var(--color-lines);
}

.card__cover {
  position: relative;
}

.card__cover-label {
  position: absolute;
  content: '';
  inset-block-start: var(--spacing-base);
  inset-inline-end: 2vw;
  color: currentColor;
  font-family: var(--display-text-font-accent);
  font-size: var(--display-text-size-1);
  text-transform: uppercase;
  text-shadow: -1px -1px 0 var(--color-bg), 1px -1px 0 var(--color-bg),
    -1px 1px 0 var(--color-bg), 1px 1px 0 var(--color-bg);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (-webkit-text-stroke: #fff) {
  .card__cover-label {
    text-shadow: unset;
    -webkit-text-stroke: 1px var(--color-bg);
  }
}

.card__cover-image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__description {
  border-block-start: var(--border-line-size) solid var(--color-lines);
  padding: var(--spacing-base);
  display: flex;
  flex-direction: column;
  gap: calc(30px - var(--border-line-size));
  font-size: inherit;
  font-variation-settings: 'wght' var(--display-text-weight-base);
  line-height: 116.667%;
}

.card__actions {
  justify-self: end;
  display: flex;
  padding-inline-end: var(--spacing-base-compensated);
  padding-block-end: var(--spacing-base-compensated);
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.button__text {
  padding: 10px 35px;
  border: var(--border-line-size) solid var(--color-lines);
  font-family: 'Press Start 2P';
  font-size: var(--display-text-size-1);
  font-variation-settings: 'wght' var(--display-text-weight-base);
  line-height: 90%;
}
