:root.theme_light {
  --color-bg: #fff;
  --color-text-primary: #000;
  --color-lines: #000;

  --display-text-weight-base: 400;
  --display-text-weight-accent: 700;
}

:root.theme_dark {
  --color-bg: #000;
  --color-text-primary: #00cc14;
  --color-lines: #00cc14;

  --display-text-weight-base: 465;
  --display-text-weight-accent: 785;
}

/* TODO: auto */
