:root {
  --font-main: 'Inter';
  --font-accent: 'PressStart2P';

  --color-bg: #fff;
  --color-text-primary: #000;
  --color-lines: #000;

  --display-text-weight-base: 400;
  --display-text-weight-accent: 700;
}
